@charset "UTF-8";

.admin_wrap {
	display: flex;
}

.admin_wrap nav {
	width: 240px;
	height: 100vh;
	margin-right: 40px;
}
.admin_wrap nav .tit {
	font-size: 32px;
	padding: 15px;
}
.admin_wrap nav ul {
	padding: 5px 10px;
}
.admin_wrap nav ul li {
	padding: 0 10px;
	margin-bottom: 5px;
}
.admin_wrap nav ul li:nth-child(1) {
	font-size: 22px;
	padding: 5px;
}
.admin_wrap nav ul li:nth-child(2) {
	width: 10px;
	margin-bottom: 10px;
	border-bottom: 3px solid #000;
}

.admin_wrap nav ul li:hover a {
	color: #22a026;
}