@charset "EUC-KR";
input[id*="que"]{
	display:none;
}

input[id*="que"] + label {
	width: 800px;
	display:block;
	padding:5px;
	cursor:pointer;
	position:relative;
}
input[id*="que"] + label em{
	position: absolute;
	top: 50%;
	right: 10px;
	width:30px;
	height:30px;
	margin-top:-15px;
	display:inline-block;
	background:url('../image/customer_center/arrowdown.png') 0 0 no-repeat;
	
}
input[id*="que"] + label + div{
	max-height:0;
	width: 800px;
	transition: all .35s;
	overflow:hidden;
	font-size: 11px;
}
input[id*="que"] + label + div p{
	display:inline-block;
	padding:20px;
}
input[id*="que"]:checked + label + div{
	max-height:200px;
}
input[id*="que"]:checked + label em{
		position: absolute;
	top: 50%;
	right: 10px;
	width:30px;
	height:30px;
	margin-top:-15px;
	display:inline-block;
	background:url('../image/customer_center/arrowup.png') 0 0 no-repeat;
	
} 