@charset "EUC-KR";
 
 /* FAQ2 css */
input[type="radio"]{
	display:none;
}

.conbox{
	width:1000px;
	
	max-height:1000px;;
	background:#aaa;
    display: none;

	
}


.btn{
	padding: 10px;
	text-align:center;
}

label[for*="tab"]{
	display:inline-block;
	padding:10px;
	cursor:pointer;
	margin:20px;
	border-radius:5%;
}

input[id="tab01"]:checked ~ .con1{
	display:block;
}
input[id="tab02"]:checked ~ .con2{
	display:block;
}
input[id="tab03"]:checked ~ .con3{
	display:block;
}
input[id="tab04"]:checked ~ .con4{
	display:block;
}
input[id="tab05"]:checked ~ .con5{
	display:block;
}

input[id="tab01"]:checked ~ .btn > label[for="tab01"]{
	background:green;
}
input[id="tab02"]:checked ~ .btn > label[for="tab02"]{
	background:green;
}
input[id="tab03"]:checked ~ .btn > label[for="tab03"]{
	background:green;
}
input[id="tab04"]:checked ~ .btn > label[for="tab04"]{
	background:green;
}
input[id="tab05"]:checked ~ .btn > label[for="tab05"]{
	background:green;
}
 

.bott_box{
	display: flex;
	justify-content:center;
	
}



