@charset "utf-8";

/* 가구 페이지 */

.furniture_list {
	position: relative;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.furniture_list > div {
	width: 80%;
	padding: 10px;
}

.furniture_list .furni_nav {
	width: 80%;
	padding: 40px 0 20px 0;
}
.furniture_list .furni_nav ul {
	display: flex;
	justify-content: space-between;
}
.furniture_list .furni_nav ul li {
	width: 100px;
}
.furni_nav ul li a {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}

.furni_nav ul li a span {
	margin-top: 10px;
}

/* filter_box */

.filter_box > div {
	display: flex;
}
.filter_box > div:nth-child(1) {
	margin-bottom: 20px;
}

.filter_box .tit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 40px;
	margin-right: 20px;
	border-radius: 10px;
	background-color: #22a026;
}
.filter_list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.filter_color .filter_list > div {
	display: flex;
}
.filter_color .filter_list .color_box + label {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	border: 1px solid rgb(210, 210, 210);
	border-radius: 50%;
}

.filter_color .filter_list .cb1 + label {
	background-color: #fff;
}
.filter_color .filter_list .cb2 + label {
	background-color: gray;
}
.filter_color .filter_list .cb3 + label {
	background-color: black;
}
.filter_color .filter_list .cb4 + label {
	background-color: beige;
}
.filter_color .filter_list .cb5 + label {
	background-color: brown;
}
.filter_color .filter_list .cb6 + label {
	background-color: silver;
}
.filter_color .filter_list .cb7 + label {
	background-color: goldenrod;
}
.filter_color .filter_list .cb8 + label {
	background-color: red;
}
.filter_color .filter_list .cb9 + label {
	background-color: yellow;
}
.filter_color .filter_list .cb10 + label {
	background-color: green;
}
.filter_color .filter_list .cb11 + label {
	background-color: orangered;
}
.filter_color .filter_list .cb12 + label {
	background-color: blue;
}
.filter_color .filter_list .cb13 + label {
	background-color: navy;
}
.filter_color .filter_list .cb14 + label {
	background-color: pink;
}
.filter_color .filter_list .cb15 + label {
	margin-left: 5px;
}

.furni_box {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	width: 100%;
	gap: 10px;
	margin-top: 20px;
}
.furni_box .furni_cont {
	width: 24%;
	height: 360px;
}

.furni_cont .furni_img {
	overflow: hidden;
	width: 100%;
	height: 260px;
	border-radius: 10px;
}
.furni_cont .furni_img img {
	width: auto;
	height: 100%;
}
.furni_cont .furni_img:hover img {
	scale: 1.5;
	transition: all 0.45s;
}

.furni_cont .desc {
	padding: 10px 10px;
}
.furni_cont .desc p {
	margin-bottom: 5px;
}
.furni_cont .desc p:nth-child(1) {
	color: #555;
}
.furni_cont .desc p:nth-child(2) {
	font-size: 24px;
}
.furni_cont .desc p:nth-child(3) {
	font-size: 20px;
	color: #22a026;
}
