@charset "utf-8";

/* join */
.join_container .top_box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 240px;
	margin-top: 20px;
	background-image: url(../image/joinImg.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.join_container .top_box .tit {
	font-size: 34px;
	margin-bottom: 40px;
}

.join_box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.join_box .join_box_inner {
	position: absolute;
	top: -40px;
	width: 70%;
	height: 600px;
	background-color: #fff;
}

.join_box .join_box_inner .top_var {
	height: 40px;
}

.join_box .join_box_inner .top_var a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 100%;
	color: #000;
}

.join_cont {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont_box {
	padding: 20px;
	font-size: 28px;
	box-sizing: border-box;
}

.cont_box .form-group {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.cont_box .form-group .form-control {
	height: 32px;
	margin-left: 5px;
	padding-left: 5px;
	font-size: 16px;
	border: 2px solid rgb(210, 210, 210);
	border-radius: 5px;
	box-sizing: border-box;
}

.cont_box .form-group .form-control:focus {
	outline: none;
}

.cont_box .form-group .label_txt {
	width: 140px;
}

.cont_box .form-group .err_txt {
	position: absolute;
	right: -180px;
	width: 245px;
	font-size: 16px;
}

.cont_box .form-group:nth-child(3) .err_txt {
	right: -265px;
}

.cont_box .form-group .input-group {
	display: flex;
	align-items: center;
}

.cont_box .btn-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10px;
	width: 80px;
	height: 32px;
	padding: 5px;
	font-size: 16px;
	color: #07660a;
	border: 2px solid #22a026;
	border-radius: 5px;
	box-sizing: border-box;
	background-color: #fff;
}

.cont_box .btn-primary:hover {
	color: white;
	background-color: #22a026;
}

.cont_box .joinBtn {
	bottom: 40px;
	width: 360px;
	height: 50px;
	font-size: 26px;
}